<mat-card class="contacts-details">
  <mat-card-title>Contact List</mat-card-title>
  <mat-card-subtitle
    >You have <b>{{ contacts.length }}</b> contacts</mat-card-subtitle
  >
</mat-card>

<div *ngFor="let item of contacts" style="margin: 20px">
  <app-contact-item
    [data]="item"
    (deleteEvent)="deleteContact($event)"
    (openEditEvent)="openEditContact($event)"
  ></app-contact-item>
</div>

<div class="conatiner__fab">
  <button mat-fab color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
