<mat-card class="home__container">
  <div class="home__container--header">
    <img
      class="home__container--header-img"
      src="../../../assets/images/endritvitija.png"
      alt=""
    />
    <div class="home__container--header-info">
      <mat-card-title>Endrit Vitija</mat-card-title>
      <mat-card-subtitle>Front-End Developer</mat-card-subtitle>
    </div>
  </div>
  <mat-card-content class="home__container--body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam odit libero
    dolorum veritatis dolor sequi deserunt a reprehenderit, beatae enim, aliquam
    voluptatum modi fugit amet! Amet nemo aspernatur rerum alias suscipit! Quod,
    odio, fugit adipisci magni quasi saepe voluptatem, excepturi distinctio ipsa
    vel ratione. Assumenda molestias blanditiis, cumque explicabo corporis ipsa
    perferendis dolor quas exercitationem nemo est, nostrum consectetur?
    Architecto molestiae incidunt provident dolores? Ipsum ducimus nam,
    praesentium molestias ipsa dolorum. Et provident, cumque expedita modi
    pariatur aliquam aliquid veritatis, illum est temporibus facere? Mollitia
    obcaecati impedit, alias quisquam repudiandae dolore. Tenetur cum sapiente
    voluptatem numquam quam dignissimos voluptatibus atque ducimus quod quisquam
    fugiat quia culpa animi, natus labore repudiandae? Odit eaque voluptatibus
    sint non adipisci ad laborum maiores vero nihil. Culpa fuga enim itaque
    alias soluta possimus velit accusantium quibusdam expedita unde nobis maxime
    et odio, adipisci totam debitis vero est illum molestias impedit, a hic id.
    Harum unde enim qui repudiandae soluta in. Quasi, animi saepe! Quasi aut
    asperiores a libero iusto blanditiis voluptatem, quam, rerum, fugiat earum
    saepe accusamus inventore laborum ut sapiente ipsa non neque quas repellat
    corporis ad veritatis atque? Error veniam magni dolorem alias placeat quod
    quae commodi explicabo, consequatur inventore repellendus asperiores sit?
    Debitis, aperiam eum totam et sunt, tenetur voluptatum perspiciatis
    incidunt, consequatur quibusdam magni! Dolorum dolorem non eum inventore,
    ipsa, debitis reprehenderit, animi aut aliquid magni saepe doloribus itaque
    adipisci maxime vero voluptatem odit quos sunt aperiam? Harum amet fugiat ut
    impedit. Sequi alias, cupiditate illum, soluta animi magnam repudiandae
    veritatis assumenda eos quasi in ut voluptates dolor asperiores enim
    aspernatur deserunt, sit iste. Repudiandae delectus magnam explicabo
    blanditiis aperiam doloremque veniam perferendis quam corrupti quaerat
    autem, tempora ex iste atque rerum saepe nulla. Repellat doloremque odit ad
    temporibus reprehenderit consectetur eum est possimus soluta inventore
    voluptates ducimus, non minima nulla exercitationem adipisci repudiandae
    impedit facilis, in debitis. Deserunt ea nemo veritatis exercitationem
    expedita, adipisci inventore debitis eaque eligendi sint ut, cumque facilis
    voluptas possimus laudantium perspiciatis blanditiis est, recusandae porro
    doloremque? Soluta, ipsam modi neque commodi aspernatur laudantium, illum
    sed ut incidunt doloremque cupiditate quis at minus. Sunt, libero quas amet
    aperiam, harum facilis nobis reprehenderit vitae animi nulla veritatis,
    aspernatur accusantium. Eveniet voluptatem necessitatibus sint, qui cum
    dignissimos, reiciendis dicta soluta repudiandae optio voluptate sapiente ex
    quaerat consequuntur saepe expedita suscipit pariatur voluptates laudantium?
    Nesciunt sequi iure ad dolores aliquam voluptate nam quis ut, dolorem
    provident nobis velit facere exercitationem ullam, sint laboriosam assumenda
    architecto esse quia nisi! Sequi repudiandae autem corporis quo labore
    tempora commodi similique incidunt facere earum repellendus eius et quam
    quibusdam hic ullam sint quas eveniet esse mollitia quis, voluptatum omnis
    cumque. Officiis quo, repellendus velit ipsa vel quidem totam expedita nemo
    quisquam assumenda sapiente, voluptatem maiores, quia dicta sit ex
    accusantium enim ad tempora. Voluptate commodi fugiat veniam illo incidunt
    provident itaque consequatur repellendus! Perspiciatis voluptate facere
    aperiam rerum ratione quo dignissimos quae magni. Quas, vitae hic odit
    aspernatur ex minima at distinctio ducimus qui quae obcaecati nam unde a
    delectus facere, laboriosam iusto illo architecto! Mollitia ea est similique
    tempora ab quisquam at, expedita, temporibus quidem, repudiandae debitis.
    Corrupti consectetur iusto ab voluptates dicta quasi suscipit rem libero
    quae. Cum illo architecto ad totam, omnis optio sed animi repellendus
    minima? Maiores fugit id dicta recusandae voluptatum rem sapiente magni
    impedit temporibus, necessitatibus odit laboriosam esse provident tempora
    exercitationem perferendis, inventore modi! Nobis est porro enim assumenda
    consequuntur magnam ut architecto, officiis, alias perspiciatis sed
    temporibus. Possimus minima ipsa laboriosam ad ratione ducimus facere,
    doloribus debitis autem corrupti, neque quibusdam quam rem numquam excepturi
    aliquid vero cum impedit quae ea quia, ut vitae unde! Soluta aperiam, nobis
    temporibus quod commodi nesciunt dolorum, ullam ipsa, reiciendis adipisci
    voluptates? Maxime, molestiae dolores? Fuga deserunt voluptatum corrupti
    libero atque iusto nostrum nam laboriosam. Corporis, eveniet ipsam laborum
    rem veritatis quo accusantium officiis rerum repudiandae non sapiente,
    exercitationem delectus recusandae nam quibusdam fuga ut soluta impedit
    praesentium nesciunt. Quos amet eos rem. Tempore maxime molestiae corporis
    quam eum ab atque quo eius, in, vitae rerum exercitationem quod aperiam ipsa
    dignissimos sapiente repellat iusto ad nam assumenda dolorem dolores neque?
    Ducimus accusamus eaque voluptatum aspernatur, quod magni aperiam sed
    dolorum ut delectus vitae debitis hic illo ipsam minima rerum consectetur
    labore sequi voluptas adipisci. Quo nostrum inventore quam harum optio quos
    natus! Neque rem aspernatur accusamus inventore laudantium, saepe suscipit
    facilis reiciendis tempora harum animi, accusantium aliquam dicta.
  </mat-card-content>
</mat-card>
