.avatar__container {
  display: flex;
  align-items: center;

  mat-form-field {
    margin-left: 20px;
    margin-top: 20px;

    width: 100%;
  }
}

.container-fullname {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  mat-form-field {
    width: 49%;
  }
}

.action__bottom {
  display: flex;
  justify-content: flex-end;
}

.address__container {
  &--header {
    display: flex;
    justify-content: space-between;

    &--title {
      font-size: 18px;
      font-weight: 600;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
