<h1 mat-dialog-title>Add new Contact</h1>
<div mat-dialog-content>
  <form [formGroup]="contactsForm">
    <div class="avatar__container">
      <img mat-card-sm-image [src]="contactsForm.value.avatar" alt="" />
      <mat-form-field appearance="fill">
        <mat-label>Avatar</mat-label>
        <input matInput formControlName="avatar" />
        <span matSuffix>
          <mat-icon>link</mat-icon>
        </span>
      </mat-form-field>
    </div>
    <div class="container-fullname">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name" />
      </mat-form-field>
    </div>
    <div formArrayName="addresses">
      <div
        class="address__container"
        *ngFor="let address of addresses.controls; let i = index"
      >
        <div [formGroupName]="i">
          <div class="address__container--header">
            <h3 class="address__container--header--title">
              Address #{{ i + 1 }}
            </h3>
            <button
              mat-icon-button
              (click)="removeAddress(i, address.value.id)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Street 1</mat-label>
            <input matInput formControlName="street1" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Street 2</mat-label>
            <input matInput formControlName="street2" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Town</mat-label>
            <input matInput formControlName="town" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
              <mat-option
                *ngFor="let contrie of countries"
                [value]="contrie.iso2"
              >
                {{ contrie.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="contactId">
      <button mat-button (click)="addAddress()">
        <mat-icon>add</mat-icon>
        Add Address
      </button>
    </div>
  </form>
</div>
<div mat-dialog-actions class="action__bottom">
  <button mat-button (click)="onCloseModal(false)">
    <mat-icon>close</mat-icon>
    Close
  </button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">
    <mat-icon *ngIf="contactId">save_outline</mat-icon>
    <mat-icon *ngIf="!contactId">add</mat-icon>
    <span *ngIf="contactId"> Save </span>
    <span *ngIf="!contactId"> Add </span>
  </button>
</div>
